{% extends "base.html" %}

{% block content %}
<h3>Horario de Clases</h3>
<table>
    <thead>
        <tr>
            <th>Materia</th>
            {% if role != 'student' %} {# Solo muestra el profesor si no es el dashboard del estudiante #}
                <th>Profesor</th>
            {% endif %}
            <th>Día</th>
            <th>Hora Inicio</th>
            <th>Hora Fin</th>
            <th>Semestre</th>
            <th>Aula</th>
        </tr>
    </thead>
    <tbody>
        {% for schedule in schedules %}
            <tr>
                <td>{{ schedule.subject }}</td>
                {% if role != 'student' %}
                    <td>{{ schedule.teacher }}</td>
                {% endif %}
                <td>{{ schedule.day }}</td>
                <td>{{ schedule.start_time }}</td>
                <td>{{ schedule.end_time }}</td>
                <td>{{ schedule.semester }}</td>
                <td>{{ schedule.classroom }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}

{% block styles %}
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f4f4f4;
            margin: 0;
            padding: 20px;
        }
        h3 {
            color: #35424a;
        }
        table {
            width: 100%;
            border-collapse: collapse;
        }
        th, td {
            border: 1px solid #ddd;
            padding: 12px;
            text-align: left;
        }
        th {
            background-color: #35424a;
            color: white;
        }
        tr:nth-child(even) {
            background-color: #f2f2f2;
        }
    </style>
{% endblock %}
