<!DOCTYPE html>
<html>
<head>
    <title>Sistema de Asistencia</title>
</head>
<body>
    <h2>Panel de Control de Asistencia</h2>
    
    <form method="GET" action="/agregar" style="margin-bottom: 15px;">
        <label><b>Nuevo Alumno:</b></label>
        <input type="text" name="nuevo_nombre" placeholder="Nombre completo" required>
        
        <label><b>Documento:</b></label>
        <select name="tipo_doc">
            <option value="V">V</option>
            <option value="E">E</option>
            <option value="P">P</option>
        </select>
        <input type="text" name="num_doc" placeholder="Número de identidad" required>
        
        <button type="submit">Guardar en TXT</button>
    </form>

    <form method="GET" action="/" style="margin-bottom: 20px;">
        <label><b>Buscar:</b></label>
        <input type="text" name="palabra" placeholder="Nombre o Cédula...">
        <button type="submit">Buscar</button>
        <a href="/"><button type="button">Ver Todos</button></a>
    </form>

    <table border="1" cellpadding="5">
        <tr style="background-color: #f2f2f2;">
            <th>Posición</th>
            <th>Nombre del Alumno</th>
            <th>Documento</th>
            <th>Estado Actual</th>
            <th>Acciones</th>
        </tr>
        
        {% for nombre, datos in lista_html.items() %}
        <tr>
            <td>{{ loop.index }}</td> 
            <td>{{ nombre }}</td>
            
            <td>{{ datos[0] }}</td>
            <td><b>{{ datos[1] }}</b></td>
            
            <td>
                <a href="/marcar/{{ nombre }}/Presente"><button>✅ Presente</button></a>
                <a href="/marcar/{{ nombre }}/Ausente"><button>❌ Ausente</button></a>
                <a href="/marcar/{{ nombre }}/Pendiente"><button>🔄 Limpiar</button></a>
            </td>
        </tr>
        {% endfor %}
        
    </table>
</body>
</html>